<!DOCTYPE html>
<html>
  <head>
    <title>Dodaj firmę</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formularz dodawania firmy</h1>

    <% if (success === 1) { %>
      <p>Pomyślnie dodano firmę!</p>
    <% } %>

    <form action="" method="post">
      <div class="form-group">
        <label for="company_name">Nazwa firmy</label>
        <input type="text" class="form-control" name="company_name" id="company_name" placeholder="Podaj nazwę firmy">
      </div>

      <button type="submit" class="btn btn-primary">Prześlij</button>
    </form>

  </body>
</html>
