<!DOCTYPE html>
<html>
  <head>
    <title>Dodaj instytucję publiczną</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formularz dodawania instytucji publicznej</h1>

    <% if (success === 1) { %>
      <p>Pomyślnie dodano instytucję!</p>
    <% } %>

    <form action="" method="post">
      <div class="form-group">
        <label for="ca_name">Nazwa instytucji</label>
        <input type="text" class="form-control" name="ca_name" id="ca_name" placeholder="Podaj nazwę instytucji">
      </div>

      <button type="submit" class="btn btn-primary">Prześlij</button>
    </form>

  </body>
</html>
