<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Witamy na stronie do zażądzania przetargami. Dzięki tej stronie możesz w łatwy sposób sprawdzić, które
       przetargi są aktywne, a które zostały zakończone. Strona pozwala również na składanie ofert dla aktywnych
      przetargów.
    </p>
    <ol>
      <li><a href = "/tenders">Trwające przetargi</a></li>
      <li><a href = "/tenders/closed">Zakończone przetargi</a></li>
      <li><a href = "/tenders/add">Dodaj przetarg</a></li>
      <li><a href = "/companies/add">Dodaj firmę</a></li>
      <li><a href = "/ca/add">Dodaj instytucję publiczną</a></li>
    </ol>
  </body>
</html>
