<!DOCTYPE html>
<html>
  <head>
    <title>Dodaj ofertę do wybranego przetargu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formularz dodawania oferty do przetargu</h1>

    <% if (success === 1) { %>
      <p>Pomyślnie dodano ofertę!</p>
    <% } %>

    <form action="" method="post">
      <div class="form-group">
        <label for="price">Cena</label>
        <input type="number" step="0.01" class="form-control" name="price" id="price">
      </div>
      <div class="form-group">
        <label for="company">Firma</label>
        <select id="company" name="company">
          <% companies.forEach(function(company) { %>
            <option value="<%= company.id %>"><%= company.name %></option>
          <% }); %>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Prześlij</button>
    </form>

  </body>
</html>
